

@*<div class="banner m_bottom_60" style="background:#eee;">
    <div class="container">

        <div class="row   p_bottom_10">
            <div class="col-md-8 col-sm-8  col-xs-5  user-detail ">
                <h2 class="text-left blue m_bottom_20 m_top_20">Patients List</h2>

            </div>


        </div>
    </div>
</div>*@
<style>
    .gray_title{
        font-size: 25px;
    color: #464646;
    }
    ul.download li a {
    text-decoration: underline;
    font-style: italic;
    color: #454545;
    }
    ul.download li a:focus, a:hover{
        color: #454545;
    }
</style>

<div class="banner m_bottom_60" style="background:#eee;">
    <div class="container">

        <div class="row   p_bottom_10">
            <div class="col-md-9 col-sm-8  col-xs-6 p_top_30  user-detail ">
                <h2 class="text-left blue">TENET ADMIN <span class="gray_title" style="font-style:italic;    ">Administrator</span></h2>
                <h4 style="font-size: 25px;
                    color:#464646;padding-top:0px;">
                    Patient Profile <span class="blue"> Summery Manager</span>
                </h4>
            </div>
           
            <div class="col-md-3 col-sm-4 col-xs-6 p_top_30 text-right">
                <h4 class="gray_title"><span class="blue">Download &nbsp;</span>Data</h4>
                <ul class="download">
                    <li><a href="#">Click for Excel File</a></li>
                    <li><a href="#">Click for Word Doc</a></li>
                    <li><a href="#">Click for PDF</a></li>

                </ul>
              
            </div>
        </div>
    </div>
</div>
