@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowMessage</title>
</head>
<body>
    <br /><br />
    <div style="padding:30px 10px;">
        Please check your email and verify your email address to activate your account.
    </div>
</body>
</html>
