@{
    Layout = null;
}


<html lang="en-US" ng-app="demoModule">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="shortcut icon" href="Content/images/favicon.ico" />
    <title>L.O.B. Patient Portal | Login</title>
    <link rel='stylesheet' href='~/Content/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/commerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/prettyPhoto.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/jquery.selectBox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/owl.theme.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/jquery.ui.timepicker.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,800,900,300italic,400italic,700italic,900italic' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/custom.css' type='text/css' media='all' />
    <link rel="stylesheet" href='~/Content/css/magnific-popup.css' type='text/css' media='all' />
    <link rel="stylesheet" href='~/Content/css/preloader.css' type='text/css' media='all' />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/PersonAngular.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="patient-protal">
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="loader">Loading...</div>
            </div>
        </div>
    </div>
    <div class="site">
        <header class="noo-header header-3">
            <div class="navbar-wrapper">
                <div class="navbar navbar-default">
                    <div class="noo-nav-header4">
                        <div class="container">
                            <div class="noo-nav-wrap">
                                <div class="navbar-header pull-left">
                                    <h1 class="sr-only">L.O.B. Patient Portal</h1>
                                    <button data-target=".nav-collapse" class="btn-navbar noo_icon_menu" type="button">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a href="/" class="navbar-brand">
                                        <img class="noo-logo-img noo-logo-normal" src="/Content/images/logo.png">
                                    </a>
                                </div> <!-- / .nav-header -->
                                <nav class="pull-right noo-main-menu">
                                    <ul class="nav-collapse navbar-nav">

                                        <li class="menu-item-has-children">
                                            <a href="../Account/SignUp">Sign Up</a>

                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Nav Link 2</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sub Nav Link  2.1</a></li>
                                                <li><a href="#">Sub Nav Link  2.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Nav Link 3</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sub Nav Link  3.1</a></li>
                                                <li><a href="#">Sub Nav Link  3.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Nav Link 4</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sub Nav Link 4.1</a></li>
                                                <li><a href="#">Sub Nav Link 4.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="blog.html">Nav Link 5</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sub Nav Link 5.1</a></li>
                                                <li><a href="#">Sub Nav Link 5.2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="noo-page-heading">
            <div class="container">
                <h1 class="page-title">Patient Portal Login</h1>
            </div><!-- /.container-boxed -->
        </section>
        <div id="main" class="main-content container commerce-account">
            <!-- Begin The loop -->
            <div class="hentry">
                <div class="entry-content">
                    <div class="commerce">
                        <div class="col-set" id="customer_login">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="col-1">
                                        <form name="signInForm" class="login" ng-controller="demoCtrl" ng-submit="signIn()">


                                            <div class="alert alert-danger" ng-show="person.Error" id="diverror1">
                                                <strong>Error!</strong><span ng-bind-html="person.MessageError"></span>
                                            </div>
                                            <div class="form-row form-row-wide">
                                                <label for="username">
                                                    Username or email address
                                                    <span class="required">*</span>
                                                </label>
                                                <input type="text" ng-model="person.Email" class="input-text" name="username" id="Email" value="" autofocus />
                                            </div>
                                            <div class="form-row form-row-wide">
                                                <label for="password">
                                                    Password
                                                    <span class="required">*</span>
                                                </label>
                                                <input ng-model="person.PasswordHash" class="input-text" type="password" name="password" id="PasswordHash" />
                                            </div>
                                            <div class="form-row">
                                                <input type="submit" class="button" name="login" value="Login" data-ng-click="SignIn()" />
                                            </div>
                                            <div class="lost_password">
                                                <a href="#">Lost your password?</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- .entry-content -->
            </div>
        </div>
        <footer class="wrap-footer">
            <div class="colophon wigetized">
                <div class="container">
                    <div class="widget widget_noo_infomation_onpage">
                        <div class="noo-one-footer">
                            <p style="text-align:center; color:#fff; font-weight:bolder;">Copyright 2016 Tenet Health Network. <i class="fa fa-hospital-o"></i> <br><span style="font-weight:bolder;">L.O.B.</span> Patient Portal.

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--End .site -->
    <a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>
    <script type='text/javascript' src='~/Content/js/jquery.min.js'></script>
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/Content/js/off-cavnass.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/Content/js/modernizr-2.7.1.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.prettyPhoto.init.min.js'></script>
    <script type='text/javascript' src='~/Content/js/script.js'></script>
    <script type='text/javascript' src='~/Content/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.parallax-1.1.3.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.magnific-popup.js'></script>
    <script type='text/javascript' src='~/Content/js/custom.js'></script>

    <!--Angular-->
    @*<script src="Scripts/angular.js"></script>

        <script src="Apps/SignUp/index.js"></script>
        <script src="Apps/SignUp/controllers/signInController.js"></script>*@

</body>
</html>
