@{
    Layout = null;
}

<html lang="en-US" ng-app="demoModule">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
    <title>L.O.B. Patient Portal | Registration Page</title>
    <link rel='stylesheet' href='~/Content/css/bootstrap.min.css' type='text/css' media='all' />

    <link rel='stylesheet' href='~/Content/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/jquery.ui.timepicker.css' type='text/css' media='all' />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,800,900,300italic,400italic,700italic,900italic' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/css/custom.css' type='text/css' media='all' />

    <link rel='stylesheet' href='~/Content/css/settings.css' type='text/css' media='all' />
    <link rel="stylesheet" href='~/Content/css/preloader.css' type='text/css' media='all' />
    <link href="~/Content/css/responsive-slider.css" rel="stylesheet">

    <script src="Scripts/jquery-1.10.2.js"></script>


    <style type="text/css">
        input.ng-dirty.ng-invalid,
        .ng-submitted input.ng-invalid {
            border: 1px solid #EB3034 !important;
        }

        select.ng-dirty.ng-invalid,
        .ng-submitted select.ng-invalid {
            border: 1px solid #EB3034 !important;
        }

        .css-form input.ng-valid.ng-touched {
            border: 1px solid #0EAB55 !important;
        }
    </style>
</head>
<body class="patient-protal">
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="loader">Loading...</div>
            </div>
        </div>
    </div>
    <div class="site">
        <header class="noo-header header-3">
            <div class="navbar-wrapper">
                <div class="navbar navbar-default">
                    <div class="noo-nav-header4">
                        <div class="container">
                            <div class="noo-nav-wrap">
                                <div class="navbar-header pull-left">
                                    <h1 class="sr-only">L.O.B. Patient Portal</h1>

                                    <button data-target=".nav-collapse" class="btn-navbar noo_icon_menu navbar-toggle " type="button">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a href="/" class="navbar-brand">
                                        <img class="noo-logo-img noo-logo-normal" src="~/Content/images/logo.png" alt="">
                                    </a>
                                </div> <!-- / .nav-header -->
                                <nav class="pull-right noo-main-menu">
                                    <ul class="nav-collapse navbar-nav">
                                        <li class="menu-item-has-children" id="loginlink">
                                            <a href="../Account/SignIn">Login</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Nav Link 2</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sub Nav Link  2.1</a></li>
                                                <li><a href="#">Sub Nav Link  2.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Nav Link 3</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sub Nav Link  3.1</a></li>
                                                <li><a href="#">Sub Nav Link  3.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Nav Link 4</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sub Nav Link 4.1</a></li>
                                                <li><a href="#">Sub Nav Link 4.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children" id="accountlink">
                                            <a href="blog.html">Account</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Edit Profile</a></li>
                                                <li><a href="#">Set Notifications</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="main-content">

            <!-- Begin The loop -->
            <div class="container-fluid">
                <div class="row row-fluid">
                    <div class="col-sm-12">
                        <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                            <div class="slides" data-group="slides">
                                <ul>
                                    <li>
                                        <div class="slide-body" data-group="slide">
                                            <img src="~/Content/images/slider/slider2_1920x1280.jpg">
                                            <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300" style="width:100%;">
                                                <div class="button_div">
                                                    <a href="#Profile1"><input type="button" value="CREATE YOUR PROFILE" class="btn btn-secondary pro" id="btncretaeprof"></a>
                                                    <a href="~/Account/SignIn">     <input type="button" value="LOGIN NOW" class="btn btn-primary login1"></a>
</div>
                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide-body" data-group="slide">
                                            <img src="~/Content/images/slider/slider3_1920x1280.jpg">
                                            <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300" style="width:100%;">
                                                <div class="button_div">
                                                    <a href="#Profile1"><input type="button" value="CREATE YOUR PROFILE" class="btn btn-secondary pro" id="btncretaeprof"></a>
                                                    <a href="~/Account/SignIn">     <input type="button" value="LOGIN NOW" class="btn btn-primary login1"></a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <a class="slider-control left" href="#" data-jump="prev"><img src="~/Content/images/arrow.jpg"></a>
                            <a class="slider-control right" href="#" data-jump="next"><img src="~/Content/images/arrow1.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row row-fluid">
                    <div class="col-sm-12">
                        <div class="noo-customform">
                            <div class="container">
                                <div class="book-form ">
                                    <div class="book-content-style2" ng-controller="demoCtrl">
                                        <div class="profile" id="Profile1">
                                            <h2 class="book-title" id="reg">Create Your Patient Profile</h2>
                                            <p style="text-align:center; padding-bottom:15px;">Please enter your email, and password.</p>

                                            <div class="css-form" name="signUpForm" novalidate >
                                                <div class="alert alert-danger" id="diverror" ng-show="person.Error">
                                                    <strong id="errorStrong">Error!</strong><span ng-bind-html="person.MessageError"></span>
                                                </div>
                                                <div class="noo-form"  style="padding: 0px 7%;">

                                                    <div class="row">
                                                        
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <span class="wpcf7-form-control-wrap patient-portal-email">
                                                                <input type="email" name="patient-portal-email"
                                                                       ng-maxlength="30" ng-minlength="6" required
                                                                       ng-model="person.Email"
                                                                       size="40" class="wpcf7-form-control" placeholder="Email" id="Email" tabindex=5 />
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span class="wpcf7-form-control-wrap patient-portal-email">
                                                                <input type="email" name="patient-portal-emailrm-confi" ng-model="person.ConfirmEmail"
                                                                       ng-maxlength="30" ng-minlength="6" required
                                                                       size="40" class="wpcf7-form-control" placeholder="Confirm Email" id="ConfirmEmail" tabindex=6 />
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <span class="wpcf7-form-control-wrap patient-portal-email">
                                                                <input type="password"
                                                                       required
                                                                       name="patient-portal-emailrm-confi" ng-model="person.PasswordHash"
                                                                       size="40" class="wpcf7-form-control" placeholder="Password" id="PasswordHash" tabindex=8 />
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span class="wpcf7-form-control-wrap patient-portal-email">
                                                                <input type="password"
                                                                       ng-maxlength="30" ng-minlength="2" required
                                                                       ng-model="person.ConfirmPassword"
                                                                       name="patient-portal-emailrm-confi"
                                                                       size="40" class="wpcf7-form-control" placeholder="Confirm Password" id="ConfirmPassword" tabindex=9 />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-5">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="book-form-submit" id="submit1">
                                                                    <input type="button" value="SUBMIT" id="signupbtn"
                                                                           class="wpcf7-form-control wpcf7-submit  sub_btn"
                                                                           data-ng-click="SignUp()" tabindex=27 />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="profile" id="Profile2" style="display:none;">
                                            <h2 class="book-title" id="reg">Active YOUR Patient Profile</h2>
                                            <div style="text-align:center"><small>A confirmation code has been sent to your email. Please check<br /> your email and enter the confirmation number here.<br /><br /></small></div>
                                            <div class="css-form" name="signUpForm1" novalidate>
                                                <div class="alert alert-danger" id="diverror" ng-show="person.Error">
                                                    <strong id="errorStrong">Error!</strong><span ng-bind-html="person.MessageError"></span>
                                                </div>

                                                <div class="noo-form" id="DivActivate" style=" padding: 0px 7%;">
                                                    <div class="row">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-4">
                                                            <span class="wpcf7-form-control-wrap patient-portal-name">
                                                                <input type="text" name="activecode"
                                                                       ng-maxlength="20" ng-minlength="2" ng-required="true" required
                                                                       ng-model="person.ActiveCode" size="40"
                                                                       class="wpcf7-form-control" placeholder="Code" id="ActiveCode" autofocus />
                                                            </span>
                                                        </div>
                                                        <div class="col-md-4"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-4">
                                                            <div class="book-form-submit  col-md-6" id="submit1">
                                                                <input type="button" value="Continue" id="activatebtn"
                                                                       class="wpcf7-form-control wpcf7-submit  sub_btn"
                                                                       data-ng-click="ActivateAccount()" tabindex=27 />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row row-fluid pt-11">
                    <div class="col-sm-12">
                        <div class="title-center">
                            <!--  <h2 class="noo-title ">
                              <span class="noo-title-number">
                                    <span class="frist">0</span><span class="last">1</span>
                                </span>  -->
                            <h2>
                                <strong>The All New <span style="color:#1493f8;">L.O.B.</span> Patient Portal</strong>
                            </h2>
                            <p class="text-center pt-2">
                                Our patient portal provides an easy ways to access your medical information,
                                share wellness information, tips and stories, and talk about ways to live healthier.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row row-fluid pt-6 pb-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 pt-7">
                                <div class="whychooseus choose_style1 right">
                                    <div class="choose-icon-wrap">
                                        <div class="choose-icon">
                                            <div class="background-line">
                                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose-content">
                                        <h5>View Health Records</h5>
                                        <p>
                                            Integer sollicitudin ante id tristique luctus. Pellentesque at mauris venenatis, dapibus ipsum a, interdum purus.
                                        </p>
                                    </div>
                                </div>
                                <div class="whychooseus choose_style1 right">
                                    <div class="choose-icon-wrap">
                                        <div class="choose-icon">
                                            <div class="background-line">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                <!--   <img width="41" height="29" src="images/about/about-3.png" alt="" />  -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose-content">
                                        <h5>Schedual Visits</h5>
                                        <p>Integer sollicitudin ante id tristique luctus. Pellentesque at mauris venenatis, dapibus ipsum a, interdum purus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-sm hidden-xs">
                                <div class="single_image-wrapper box_border_grey text-center">
                                    <img width="476" height="575" src="~/Content/images/group1.png" alt="image" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 pt-7">
                                <div class="whychooseus choose_style1">
                                    <div class="choose-icon-wrap">
                                        <div class="choose-icon">
                                            <div class="background-line">
                                                <i class="fa fa-user-md" aria-hidden="true"></i>
                                                <!--   <img width="44" height="46" src="images/about/about-2.png" alt="" /> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose-content">
                                        <h5>Chat with Experts</h5>
                                        <p>
                                            Aenean maximus cursus condimentum. Morbi eget mollis ex. Curabitur tibulum massa, eget interdum risus.
                                        </p>
                                    </div>
                                </div>
                                <div class="whychooseus choose_style1">
                                    <div class="choose-icon-wrap">
                                        <div class="choose-icon">
                                            <div class="background-line">
                                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                                                <!--   <img width="41" height="29" src="images/about/about-3.png" alt="" />  -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose-content">
                                        <h5>Live Healthier</h5>
                                        <p>
                                            Aenean maximus cursus condimentum. Morbi eget mollis ex. Curabitur tibulum massa, eget interdum risus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <footer class="wrap-footer">
            <div class="colophon wigetized">
                <div class="container">
                    <div class="widget widget_noo_infomation_onpage">
                        <div class="noo-one-footer">
                            <p style="text-align:center; color:#fff; font-weight:bolder;">Copyright 2016 Tenet Health Network. <i class="fa fa-hospital-o"></i> <br><span style="font-weight:bolder;">L.O.B.</span> Patient Portal.

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--End .site -->
    <a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>

    <script type='text/javascript' src='~/Content/js/jquery.min.js'></script>
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?ver=1.0'></script>

    <script type='text/javascript' src='~/Content/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='~/Content/js/off-cavnass.js'></script>

    <script type='text/javascript' src='~/Content/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.prettyPhoto.init.min.js'></script>
    <script type='text/javascript' src='~/Content/js/script.js'></script>
    <script type='text/javascript' src='~/Content/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/Content/js/modernizr-2.7.1.min.js'></script>

    <script type='text/javascript' src='~/Content/js/jquery.parallax-1.1.3.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.magnific-popup.js'></script>
    <script type='text/javascript' src='~/Content/js/custom.js'></script>


    <script type='text/javascript' src='~/Content/js/imagesloaded.pkgd.min.js'></script>
    <script type='text/javascript' src='~/Content/js/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='~/Content/js/portfolio.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.themepunch.tools.min.js'></script>
    <script src="Content/js/jquery.js"></script>

    <script type='text/javascript' src='~/Content/js/jquery-ui.js'></script>
    <script type='text/javascript' src='~/Content/js/jquery.ui.timepicker.js'></script>

    <script src="~/Content/js/jquery.event.move.js"></script>
    <script src="~/Content/js/responsive-slider.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/PersonAngular.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>



</body>
</html>

<style>
    .validateField {
        border-color: red !important;
    }

    input[type="date"]:before {
        content: attr(placeholder) !important;
        color: #aaa;
        width: 50%;
    }

    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
        content: "";
    }

    .submitLoader {
    background: url("/content/assets/loader.gif") no-repeat scroll 0% 0% !important;
    }

</style>

<script type="text/javascript">

    $('#accountlink').hide();
    $('#btncretaeprof').click(function () {
    
        $("#FirstName").focus();
     
    });
</script>

<script>
    $(function () {
        if (/Android|webOS|iPhone|iPad|iPod|pocket|psp|kindle|avantgo|blazer|midori|Tablet|Palm|maemo|plucker|phone|BlackBerry|symbian|IEMobile|mobile|ZuneWP7|Windows Phone|Opera Mini/i.test(navigator.userAgent)) {
        }
        else
        {
            $("#DateOfBirth").datepicker({
                dateFormat: 'mm/dd/yy'
            }).datepicker();
            $("#ProcedureDate").datepicker({
                dateFormat: 'mm/dd/yy'
            }).datepicker();
            $("#InsuranceEffectiveDate").datepicker({
                dateFormat: 'mm/dd/yy'
            }).datepicker();
        }
     
    });
</script>

<script type="text/javascript">
    if (/Android|webOS|iPhone|iPad|iPod|pocket|psp|kindle|avantgo|blazer|midori|Tablet|Palm|maemo|plucker|phone|BlackBerry|symbian|IEMobile|mobile|ZuneWP7|Windows Phone|Opera Mini/i.test(navigator.userAgent)) {
$("#DateOfBirth").attr('type','date');
$("#ProcedureDate").attr('type','date');
$("#InsuranceEffectiveDate").attr('type','date');

     }else{
$("#DateOfBirth").attr('type','text');
$("#ProcedureDate").attr('type','text');
$("#InsuranceEffectiveDate").attr('type','text');
};
</script>