
@{
    ViewBag.Title = "ThankYou";
    Layout = null;// "~/Views/Shared/HomeLayout.cshtml";
}
<link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />



<div class="container ">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Content/img/thank-u.png" class="img-responsive" style="margin: 30px auto 0px; margin-top: 30px !important;"/>
        </div> 
    </div>
   
</div>

