@{
    Layout = null;
}

<!doctype html>

<html lang="en" ng-app="demoModule">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>L.O.B Patient Portal | Usre Profile</title>
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!-- Stylesheet -->
    <link href="/Content/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/assets/css/custome.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/PersonAngular.js"></script>
    <script src="/Scripts/angular-sanitize.js"></script>

</head>
<body>
    <div class="page-wrapper">
        <!-- Header Start -->
        <header>
            <div class="container">
                <div class="topbar">
                    <label>Attend A free <span>seminars Today!</span></label>
                    <div class="topbtn">
                     <a href="#"><img src="/Content/assets/images/icn_bariatics.png" alt="">My Health Rec</a> 
                    <a href="/Account/WelcomeBack"><img src="/Content/assets/images/icn_register.png" alt="">Home</a> 
                        <a href="/Account/SignOut"><img src="/Content/assets/images/icn_login.png" alt="">Logout</a>
                     </div>
                </div>
                <a href="#" class="logo"><img src="/Content/assets/images/logo.png" alt=""></a>
                <div class="info">
                    <p>
                        <span class="phone">(215) 762-7000</span><br class="visible-xs">
                        &nbsp;| &nbsp;<span class="add">230 N Broad St Philadelphia, PA 19102</span>
                    </p>
                    <div class="input-group hidden-xs">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><img src="/Content/assets/images/icn_search.png" alt=""></button>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <div class="input-group visible-xs">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><img src="/Content/assets/images/icn_search.png" alt=""></button>
                                </span>
                            </div>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/Account/WelcomeBack">Home <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Health Library</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="http://virtualvisitwebapp-qa.azurewebsites.net">Virtual Visit</a></li>
                                <li><a href="#">Success Stories</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Physician</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </header>
        <!-- Header End -->
        <!-- Page Conetnt Start -->
        <div class="content-wrapper">
            <div class="banner">
                <div class="container"> <img src="/Content/assets/images/banner_2.png" alt=""> </div>
            </div>
            <div class="container">
                <div class="loginbox_otr col-sm-12">
                    <div class="login" ng-controller="demoCtrl">
                        <div class="loginheader">UPDATE YOUR PATIENT PROFILE</div>
                        <form>
                            <div class="group">

                                <div class="alert alert-danger" id="diverror" ng-show="person.Error" style="display:none;"  >
                                    <strong>Error!</strong><span ng-bind-html="person.MessageError"></span>
                                </div>

                                <span>Please enter your name, DOB, phone, email, and gender.</span>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="first-name"
                                           ng-maxlength="20" ng-minlength="2" ng-required="true" required
                                           ng-model="person.FirstName" size="40"
                                           class="form-control" placeholder="First Name" id="FirstName" autofocus />
                                    <!--<input type="text" class="form-control" placeholder="First Name">-->
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text"
                                           ng-maxlength="20" ng-minlength="2" required
                                           name="last-name" ng-model="person.LastName"
                                           size="40" class="form-control" placeholder="Last Name" id="LastName" />
                                    <!--<input type="text" class="form-control" placeholder="Last Name">-->
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="patient-portal-date"
                                           ng-model="person.DateOfBirth" size="40" class="form-control"
                                           id="DateOfBirth" placeholder="Date Of Birth mm/dd/yyyy" tabindex=3 ng-keypress="keypress()" ng-keydown="keydown()" ng-change="change()" />
                                    <!--<input type="text" class="form-control" placeholder="Date of Birth mm/dd/yyyy">-->
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="patient-portal-phone" ng-maxlength="20" ng-minlength="4" required
                                           ng-model="person.Phone1" size="40" class="form-control" placeholder="Phone number" id="Phone1" />
                                    <!--<input type="text" class="form-control" placeholder="Phone No">-->
                                </div>
                                <div class="form-group col-sm-4 ">
                                    <div class="dropdown ">
                                        <select name="sex" required class="btn btn-primary fromdropdown dropdown-toggle" data-toggle="dropdown" ng-model="person.Gender" id="Gender">
                                            <option value="0">Gender</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                            <option value="3">Transgender</option>
                                        </select>
                                        <!--<button class="btn btn-primary fromdropdown dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret">
                                            </span>Gender </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Male</a></li>
                                            <li><a href="#">Femal</a></li>
                                        </ul>-->
                                    </div>
                                </div>
                            </div>
                            <div class="group">
                                <span>Please enter your Address.</span>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="street" value="" ng-maxlength="20" ng-minlength="2" required
                                           ng-model="person.Address"
                                           size="40" class="form-control" placeholder="Address" id="Address" />
                                    <!--<input type="text" class="form-control" placeholder="Address">-->
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="street" value="" ng-maxlength="20" ng-minlength="2" required
                                           ng-model="person.Address1"
                                           size="40" class="form-control" placeholder="Address2" id="Address2" />
                                    <!--<input type="text" class="form-control" placeholder="Address 2">-->
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="cityperson" value="" ng-maxlength="20" ng-minlength="2" required
                                           ng-model="person.City"
                                           size="40" class="form-control" placeholder="City" id="City" />
                                    <!--<input type="text" class="form-control" placeholder="City">-->
                                </div>
                                <div id="userprofReg"></div>
                                <div class="form-group col-sm-4 ">
                                    <div class="dropdown ">
                                        <select name="sex" class="btn btn-primary fromdropdown dropdown-toggle" data-toggle="dropdown" required ng-model="person.State" id="State">
                                            <option value="">State</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                        <!--<button class="btn btn-primary fromdropdown dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span>State </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Male</a></li>
                                            <li><a href="#">Femal</a></li>
                                        </ul>-->
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" name="patient-portal-zip-code" value="" size="40"
                                               class="form-control" placeholder="Zip Code"
                                               ng-maxlength="20" ng-minlength="2" required
                                               ng-model="person.ZipCode" id="ZipCode" />
                                        <!--<input type="text" class="form-control" placeholder="Zipcode">-->
                                    </div>
                                </div>
                            </div>
                            <div class="group" style="display:none;">
                                <span>Please enter your procedure and insurance information.</span>
                                <div class="form-group col-sm-4 ">
                                    <div class="dropdown ">
                                        <select name="sex" class="btn btn-primary fromdropdown dropdown-toggle" data-toggle="dropdown" required ng-model="person.Procedure" id="Procedure">
                                            <option value="">Select Procedure</option>
                                            <option value="Low BMI lap band">Low BMI lap band</option>
                                            <option value="Gastric Bypass">Gastric Bypass</option>
                                            <option value="Gastric Sleeve">Gastric Sleeve</option>
                                            <option value="Duodenal Switch">Duodenal Switch</option>
                                        </select>
                                        <!--<button class="btn btn-primary fromdropdown dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span>Select Procedure </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Male</a></li>
                                            <li><a href="#">Femal</a></li>
                                        </ul>-->
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="street" value="" size="40" class="form-control"
                                           ng-maxlength="20" ng-minlength="2" required
                                           placeholder="Insurance Company Name" ng-model="person.InsuranceCompanyName" id="InsuranceCompanyName" />
                                    <!--<input type="text" class="form-control" placeholder="Insurance Company">-->
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="street" value="" size="40"
                                           class="form-control"
                                           ng-maxlength="20" ng-minlength="2" required
                                           placeholder="Group Number" ng-model="person.GroupNumber" id="GroupNumber" />
                                    <!--<input type="text" class="form-control" placeholder="Group Number">-->
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="patient-portal-date" size="40" class="form-control"
                                           id="ProcedureDate" required placeholder="Procedure Date mm/dd/yyyy" ng-model="person.ProcedureDate" ng-keypress="keypress()" ng-keydown="keydown()" ng-change="change()" />
                                    <!--<input type="text" class="form-control" placeholder="Procedure Date mm/dd/yyyy">-->
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="patient-portal-date"
                                           ng-model="person.InsuranceEffectiveDate" required
                                           size="40" class="form-control"
                                           id="InsuranceEffectiveDate" placeholder="Insurance Effective Date mm/dd/yyyy)"
                                           ng-keypress="keypress()" ng-keydown="keydown()" ng-change="change()" />
                                    <!--<input type="text" class="form-control" placeholder="Effective Date mm/dd/yyyy">-->
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" name="patient-portal-zip-code" value="" size="40"
                                           class="form-control"
                                           ng-maxlength="20" ng-minlength="2" required
                                           placeholder="Policy Number" ng-model="person.PolicyNumber" id="PolicyNumber" />
                                    <!--<input type="text" class="form-control" placeholder="Policy Number">-->
                                </div>
                              
                                <div class="form-group col-sm-4 ">
                                    <div class="dropdown ">
                                        <select class="btn btn-primary fromdropdown dropdown-toggle" ng-model="person.Guarantor" data-toggle="dropdown" id="Guarantor">
                                            <option value="">Select Guarantor</option>
                                            <option value="1">Self</option>
                                            <option value="2">Parent</option>
                                            <option value="3">Spouse</option>
                                            <option value="4">Guardian</option>
                                        </select>
                                        <!--<button class="btn btn-primary fromdropdown dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span>Select Garantor </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Male</a></li>
                                            <li><a href="#">Femal</a></li>
                                        </ul>-->
                                    </div>
                                </div>


                                <div style="display:none;">
                                    <div class="form-group col-sm-4 ">
                                        <input type="text" name="street" value="" size="40"
                                               class="form-control" placeholder="Pharmacy Address 1"
                                               ng-maxlength="20" ng-minlength="2" required
                                               ng-model="person.PharmacyAddress1" id="PharmacyAddress1" />
                                    </div>
                                    <div class="form-group col-sm-4 ">
                                        <input type="text" name="patient-portal-date" value="" size="40" class="form-control"
                                               id="PreferredPharmacy" placeholder="Preferred Pharmacy"
                                               ng-maxlength="20" ng-minlength="2" required
                                               ng-model="person.PreferredPharmacy" />
                                    </div>
                                    <div class="form-group col-sm-4 ">
                                        <input type="text" name="street" value="" size="40"
                                               class="form-control"
                                               ng-maxlength="20" ng-minlength="2" required
                                               placeholder="Pharmacy City" ng-model="person.PharmacyCity" id="PharmacyCity" />
                                    </div>
                                    <div class="form-group col-sm-4 ">
                                        <input type="text" name="patient-portal-zip-code" value="" size="40"
                                               class="form-control"
                                               ng-maxlength="20" ng-minlength="2" required
                                               placeholder="Pharmacy Address 2" ng-model="person.PharmacyAddress2" id="PharmacyAddress2" />
                                    </div>
                                    <div class="form-group col-sm-4 ">
                                        <input type="text" name="patient-portal-zip-code" value="" size="40"
                                               ng-maxlength="20" required
                                               class="form-control"
                                               placeholder="Pharmacy Phone" ng-model="person.PharmacyPhone" id="PharmacyPhone" />
                                    </div>
                                    <div class="form-group col-sm-4 ">
                                        <input type="text" name="patient-portal-zip-code" value="" size="40"
                                               class="form-control"
                                               ng-maxlength="20" ng-minlength="2" required
                                               placeholder="Pharmacy State" ng-model="person.PharmacyState" id="PharmacyState" />
                                    </div>

                                </div>


                            </div>

                            <br />
                            <div class="form-group col-sm-4 " style="display:none;">
                                <input type="text" name="patient-portal-zip-code" value="" size="40" style="float:left; width:40%;"
                                       class="form-control" placeholder="Zipcode" id="PharmacyZipcode" />
                                <button type="button" class="btn locationbtn col-sm-7 col-xs-12  btn-primary" data-ng-click="fetchPharmasies()">
                                    Pharmacy Locator
                                    <img src="/Content/assets/images/icn_location.png" alt="">
                                </button>
                                <!--<input type="button" value="Pharmcy Search" style="float:right; width:45%; font-size:16px;"
               class="btn locationbtn col-sm-3 col-xs-12  btn-primary"
               data-ng-click="fetchPharmasies()" />-->
                            </div>
                            <div class="form-group col-sm-4 ">
                                <table id="tblPharmacy" style="display:none;">
                                    <tr>
                                        <th rowspan="3" style="border-right: 1px solid rgba(51, 51, 51, 0.1); width:150px;">
                                            <img src="/Content/img/MapFlag.png" />
                                        </th>
                                        <th style="border: none;"><label id="lblPharmacy"></label></th>
                                    </tr>
                                    <tr>
                                        <th style="border: none;"><label id="lblPhone"></label></th>
                                    </tr>
                                    <tr>
                                        <th style="border: none;"><label id="lblAddress"></label></th>
                                    </tr>
                                </table>
                            </div>
                            <div class="form-group col-sm-4 " style="clear:both;"></div>
                            <input type="button" value="Update Profile"
                                   class="btn pull-right col-sm-3 col-xs-12 btn-primary" data-ng-click="Update()" />
                            <!--<button type="submit" class="btn locationbtn col-sm-3 col-xs-12  btn-primary">Pharmacy Locator<img src="/Content/assets/images/icn_location.png" alt=""></button>-->
                            <!--<button type="submit" class="btn pull-right col-sm-3 col-xs-12 btn-primary">Update Profile</button>-->
                        </form>
                        <span class="clearfix"></span>


                        <div id="dialog-confirm" title="Pharmacy Search Result">
                            <div id="modal-background"></div>
                            <div id="modal-content" name="modal-content">
                                <h4> <span id="nearZip" name="nearZip"></span> <small></small></h4>
                                <div id="map-canvas" name="map-canvas" style="width:700px; height:500px;"></div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="bgshadow"><img src="/Content/assets/images/boxshadow.png" alt=""></div>
            </div>
            <div class="gallery">
                <h1 class="text-center">Surgical <span>Weight Loss</span> Gallery</h1>
                <img src="/Content/assets/images/section_bg.png" alt="">
            </div>
            <div class="sep col-sm-12"></div>
            <div class="container">
                <h1 class="text-center">Join a <span>Community and </span> Stay <span>Connected</span></h1>
                <p class="centerpara">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                <div class="socialmedia">
                    <div class=" col-xs-4">
                        <a href="#">
                            <span> <img src="/Content/assets/images/icn_facebook.png" alt=""> </span>
                            <label>Link us on facebook</label>
                        </a>
                    </div>
                    <div class=" col-xs-4">
                        <a href="#">
                            <span> <img src="/Content/assets/images/icn_youtube.png" alt=""> </span>
                            <label>Watch us on You Tube</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#">
                            <span> <img src="/Content/assets/images/icn_twitter.png" alt=""> </span>
                            <label>Connect on Twitter</label>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Page Conetnt End -->
            <!-- Footer Start -->
            <footer>
                <div class="bluesep"></div>
                <div class="ftr ">
                    <div class="footermenus">
                        <div class="col-sm-2">
                            <span>Our Services</span>
                            <ul>
                                <li><a href="#">Find A Phsiciyn</a></li>
                                <li><a href="#">Bariatrics</a></li>
                                <li><a href="#">Behaviour health Services</a></li>
                                <li><a href="#">Bloodless Medicine and Sergery</a></li>
                                <li><a href="#">Cancer Care</a></li>
                                <li><a href="#">Dermatology</a></li>
                                <li><a href="#">Emergency & Truma</a></li>
                                <li><a href="#">Heart & Vasclar Care</a></li>
                                <li><a href="#">Imaging & Radiology</a></li>
                                <li><a href="#">Neurological Services</a></li>
                                <li><a href="#">Orthopaedics</a></li>
                                <li><a href="#">Pain Management</a></li>
                                <li><a href="#">Plastic, Cosmetic and Hand Surgery</a></li>
                                <li><a href="#">Primary Care</a></li>
                                <li><a href="#">Transplant Servces</a></li>
                                <li><a href="#">Urology</a></li>
                                <li><a href="#">Womens Health</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <span>Our Location</span>
                            <ul>
                                <li><a href="#">Hahmann University 	Hospital</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <span>Our Stories</span>
                            <ul>
                                <li><a href="#">Devon's Story</a></li>
                                <li><a href="#">Ivy's Story</a></li>
                                <li><a href="#">Scott and Dwight: A transplant Story</a></li>
                                <li><a href="#">Share Your Story</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <span>For Patients</span>
                            <ul>
                                <li><a href="#">health Risk Assesments</a></li>
                                <li><a href="#">Insurance and Financial Support</a></li>
                                <li><a href="#">Legal and Ethical Decisions</a></li>
                                <li><a href="#">Maps & Directions</a></li>
                                <li><a href="#">Mobile App</a></li>
                                <li><a href="#">Online Bill Pay</a></li>
                                <li><a href="#">Patient Portal</a></li>
                                <li><a href="#">Registration</a></li>
                                <li><a href="#">Request Madical Records</a></li>
                                <li><a href="#">Share Your Story</a></li>
                                <li><a href="#">Staff Recognition</a></li>
                                <li><a href="#">Support Groups</a></li>
                                <li><a href="#">What to Bring/What not to Bring</a></li>
                                <li><a href="#">What to Export</a></li>
                                <li><a href="#">Your Patient Rights</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <span>For Family & Visitors</span>
                            <ul>
                                <li><a href="#">Gifts & Support</a></li>
                                <li><a href="#">Maps & Directions</a></li>
                                <li><a href="#">Nearby Hotels & Restaurants</a></li>
                                <li><a href="#">Share Your Story</a></li>
                                <li><a href="#">Staff Recognition</a></li>
                                <li><a href="#">Visitation Rights</a></li>
                                <li><a href="#">What to Bring/What not to Bring</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <span>For Health Professional</span>
                            <ul>
                                <li><a href="#">Education & Trainning</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Physical Portal</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="links">
                        <div class="pull-left"> <a href="#">Disclaimers</a>&nbsp; | &nbsp;<a href="#">Sitemap</a> <span>&copy; Hahnemann University Hospital 2016, All rights Reserved</span> </div>
                        <div class="pull-right">
                            <p>
                                <span class="phone">(215) 762-7000</span> <span class="add">
                                    230 N Broad St<br>
                                    Philadelphia, PA 19102
                                </span>
                            </p>
                            <a href="#"><img src="/Content/assets/images/footer_logo.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer End -->
            <div class="sidebar" style="display:none;">
                <a href="#"><img src="/Content/assets/images/icn_fb_sidebar.png" alt=""></a> <a href="#"><img src="/Content/assets/images/icn_twitter_sidebar.png" alt=""></a> <a href="#"><img src="/content/assets/images/icn_msg_sidebar.png" alt=""></a> <a href="#"><img src="/Content/assets/images/icn_print_sidebar.png" alt=""></a> <a href="#"><img src="/Content/assets/images/icn_add_sidebar.png" alt=""></a> <a href="#" class="locationpin" data-toggle="modal" data-target="#myModal"><img src="/Content/assets/images/icn_location_red.png" alt=""></a>
            </div>
        </div>

        <!-- location Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="searchbg">
                            <div class="input-group col-sm-6">
                                <input type="text" class="form-control" placeholder="Result for Pharmacy near me...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><img src="/Content/assets/images/popup_search.png" alt=""></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-4 pad0">
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span>
                                    <span>2716 Griffith Park Blvd</span>
                                    <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="/Content/assets/images/icn_world.png" alt="">Website</a>
                                    <a href="#"><img src="/Content/assets/images/icn_direction.png" alt="">Directions</a>
                                </div>
                            </div>
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span>
                                    <span>2716 Griffith Park Blvd</span>
                                    <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="/Content/assets/images/icn_world.png" alt="">Website</a>
                                    <a href="#"><img src="/Content/assets/images/icn_direction.png" alt="">Directions</a>
                                </div>
                            </div>
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span>
                                    <span>2716 Griffith Park Blvd</span>
                                    <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="/Content/assets/images/icn_world.png" alt="">Website</a>
                                    <a href="#"><img src="/Content/assets/images/icn_direction.png" alt="">Directions</a>
                                </div>
                            </div>
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span>
                                    <span>2716 Griffith Park Blvd</span>
                                    <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="/Content/assets/images/icn_world.png" alt="">Website</a>
                                    <a href="#"><img src="/Content/assets/images/icn_direction.png" alt="">Directions</a>
                                </div>
                            </div>
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span>
                                    <span>2716 Griffith Park Blvd</span>
                                    <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="/Content/assets/images/icn_world.png" alt="">Website</a>
                                    <a href="#"><img src="/Content/assets/images/icn_direction.png" alt="">Directions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="map">
                                <img src="/Content/assets/images/dummymap.png" alt="">
                            </div>


                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery Library -->
    <script src="/Content/assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Content/assets/js/bootstrap.min.js"></script>

    @* --old-- *@
    <script type='text/javascript' src='/Content/js/jquery.min.js'></script>
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?key=AIzaSyAgAcybECac87C7jemSdqwinAfeq6cV7GM&libraries=places'></script>
    <script type='text/javascript' src='/Content/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/Content/js/off-cavnass.js'></script>
    <script type='text/javascript' src='/Content/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='/Content/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/Content/js/modernizr-2.7.1.min.js'></script>
    <script type='text/javascript' src='/Content/js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='/Content/js/jquery.prettyPhoto.init.min.js'></script>
    <script type='text/javascript' src='/Content/js/script.js'></script>

    <script type='text/javascript' src='/Content/js/jquery.parallax-1.1.3.js'></script>
    <script type='text/javascript' src='/Content/js/jquery.magnific-popup.js'></script>
    <script type='text/javascript' src='/Content/js/custom.js'></script>

    <script type='text/javascript' src='/Content/js/imagesloaded.pkgd.min.js'></script>
    <script type='text/javascript' src='/Content/js/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='/Content/js/portfolio.js'></script>
    <script type='text/javascript' src='/Content/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='/Content/js/jquery.themepunch.revolution.min.js'></script>

    <script type='text/javascript' src='/Content/js/jquery-ui.js'></script>
    <script type='text/javascript' src='/Content/js/jquery.ui.timepicker.js'></script>

    <script type='text/javascript' src='/Content/js/extensions/revolution.extension.video.min.js'></script>
    <script type='text/javascript' src='/Content/js/extensions/revolution.extension.slideanims.min.js'></script>
    <script type='text/javascript' src='/Content/js/extensions/revolution.extension.actions.min.js'></script>
    <script type='text/javascript' src='/Content/js/extensions/revolution.extension.layeranimation.min.js'></script>
    <script type='text/javascript' src='/Content/js/extensions/revolution.extension.kenburn.min.js'></script>
    <script type='text/javascript' src='/Content/js/extensions/revolution.extension.navigation.min.js'></script>
    <script type='text/javascript' src='/Content/js/extensions/revolution.extension.migration.min.js'></script>
    <script type='text/javascript' src='/Content/js/extensions/revolution.extension.parallax.min.js'></script>



    <script>
        jQuery.fn.center = function () {
            alert('hello');
            this.css("position", "absolute");
            this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                                                        $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                                                        $(window).scrollLeft()) + "px");
            return this;
        }

    </script>

</body>
</html>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
    $(function () {
        $("#dialog-confirm").dialog({
            resizable: false,
            height: 600,
            width: 750,
            modal: true,
            autoOpen: false,
        });
    });
</script>





<style>
    .validateField {
        border-color: red !important;
    }

    /*input[type="date"]:before {
        content: attr(placeholder) !important;
        color: #aaa;
        width: 50%;
    }

    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
        content: "";
    }*/

    .submitLoader {
        background: url("/content/assets/loader.gif") no-repeat scroll 0% 0% !important;
    }


    .ui-datepicker .ui-datepicker-header {
    background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
}
    .ui-datepicker-calendar tr td {
    padding: 2px;
}
</style>
<script type="text/javascript">

    $('#accountlink').hide();
    $('#btncretaeprof').click(function () {

        $("#FirstName").focus();

    });
</script>
<script>
    $(function () {
            if (/Android|webOS|iPhone|iPad|iPod|pocket|psp|kindle|avantgo|blazer|midori|Tablet|Palm|maemo|plucker|phone|BlackBerry|symbian|IEMobile|mobile|ZuneWP7|Windows Phone|Opera Mini/i.test(navigator.userAgent)) {
            }
            else {
                $("#DateOfBirth").datepicker({
                    dateFormat: 'mm/dd/yy'
                }).datepicker();
                $("#ProcedureDate").datepicker({
                    dateFormat: 'mm/dd/yy'
                }).datepicker();
                $("#InsuranceEffectiveDate").datepicker({
                    dateFormat: 'mm/dd/yy'
                }).datepicker();
            }

        });
    </script>

<script type="text/javascript">
    if (/Android|webOS|iPhone|iPad|iPod|pocket|psp|kindle|avantgo|blazer|midori|Tablet|Palm|maemo|plucker|phone|BlackBerry|symbian|IEMobile|mobile|ZuneWP7|Windows Phone|Opera Mini/i.test(navigator.userAgent)) {
        $("#DateOfBirth").attr('type', 'date');
        $("#ProcedureDate").attr('type', 'date');
        $("#InsuranceEffectiveDate").attr('type', 'date');

    } else {
       
        $("#DateOfBirth").attr('type', 'text');
     
        $("#ProcedureDate").attr('type', 'text');
        $("#InsuranceEffectiveDate").attr('type', 'text');
    };


</script>