
@{
        ViewBag.PageHead = "ChangePassword";
        Layout = "~/Views/Shared/HomeLayoutAdmin.cshtml";
}

<script src="/Scripts/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://code.angularjs.org/1.4.8/angular.js"></script>
<script src="http://code.angularjs.org/1.4.8/angular-resource.js"></script>
<link href="/Content/css/font-awesome.min.css" rel="stylesheet" />
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<link href="/Content/css/styles.css" rel="stylesheet">
<link href="/Content/css/bootstrap.min.css" rel="stylesheet" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script src="/Scripts/angular.js"></script>
<script src="/Scripts/StaffChangePasswordAngular.js"></script>
<script src="/Scripts/angular-sanitize.js"></script>


@*<script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/StaffChangePasswordAngular.js"></script>
    <script src="/Scripts/angular-sanitize.js"></script>*@

<div ng-app="SettingModule" >
    <div ng-controller="SettingChangeCtrl">
        <div class="alert alert-danger" ng-show="staff.Error" id="diverror" style="padding-left:229px;">
            <strong>Error!</strong><span ng-bind-html="staff.MessageError"></span>
        </div>
        <div class="alert alert-success" ng-show="staff.Success" id="diverror1" style="padding-left:229px;">
            <strong>Success!</strong><span ng-bind-html="staff.MessageSuccess"></span>
        </div>
        <div id="save" class="panel panel-default" style="padding-left:229px;">
            <div class="panel-heading"><svg class="glyph stroked email"><use xlink:href="#stroked-email"></use></svg>Change Password</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" style="clear:both;">
                            <label class="col-md-5 control-label" style="line-height: 30px;">Current Password<label style="color:red;padding-left:2px;">*</label></label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" ng-model="staff.Password" />
                            </div>
                        </div>
                        <div class="form-group" style="clear:both;">
                            <label class="col-md-5 control-label" style="line-height: 30px;">New Password<label style="color:red;padding-left:2px;">*</label></label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" id="newpassword" ng-model="staff.NewPassword" />
                            </div>
                        </div>
                        <div class="form-group" style="clear:both;">
                            <label class="col-md-5 control-label" style="line-height: 30px;">Confirm Password<label style="color:red;padding-left:2px;">*</label></label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" id="confirmpass" />
                            </div>
                        </div>
                        <div class="form-group" style="clear:both;">
                            <label class="col-md-5 control-label"></label>
                            <div class="col-md-6">

                                <input type="button" class="btn btn-md pull-left" id="btnChange" value="Change" style="background-color:#30A5FF;" data-ng-click="UpdatePassword()" />

                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>


